{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "singleQuote": true,
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "parser": "typescript"
}
